<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vorrennung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
    <userSettings>
        <Vorrennung.Properties.Settings>
            <setting name="FFmpeg" serializeAs="String">
                <value>[Doppelklick]</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value>.\tmp</value>
            </setting>
            <setting name="MinimaleBeschleunigung" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaximaleBeschleunigung" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Intensitaet" serializeAs="String">
                <value>0.006</value>
            </setting>
            <setting name="Leise" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="Laut" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MinimalePausenBeschleunigung" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Rueckwaertspruefung" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ffmpegversuch2" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximalerAbfall" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MinimalerAbfall" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Ableitungsglaettung" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AbleitungBerueck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolaVerwenden" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FFprobe" serializeAs="String">
                <value>[Doppelklick]</value>
            </setting>
            <setting name="BevorzugterBeschleunigungsmodus" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DragDropErzeugen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EigeneFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fpswert" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SolaSchritt" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SolaDiv" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SolaBer" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="UseFFmpegToo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dynaudnorm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskForSimultan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Expertenmodus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Beschleunigungslider" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Audioqualislider" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Pausenlaengeslider" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PruefePfade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraFFmpegParams" serializeAs="String">
                <value />
            </setting>
        </Vorrennung.Properties.Settings>
    </userSettings>
</configuration>
